{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
        
    <form class="form-group" method="post">
       
            
        <nav  class="navbar navbar-light my-5">
            <h4 class="my-3 font-weight-light">Please sign in</h4>
            <a class="text-dark nav-link" href="{{ path("app_register") }}">Register<i class="fas ml-3 fa-user-secret"></i></a>
        </nav>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        
        <label class="my-2" for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label class="my-2" for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
        <div class="checkbox my-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <button class="btn btn-sm btn-primary mb-4" type="submit">Sign in</button>

    </form>
</div>
{% endblock %}
