{% extends "base.html.twig" %}
{% block body %}
    <div class="container p-4">
        <h2 class="text-primary text-center mt-5">Bienvenid@</h2>

        <nav  class="navbar navbar-ligh my-5" style="background-color: #e3f2fd8c;">
            <a class="text-primary nav-link" href="{{ path("app_login") }}">Log in<i class="ml-2 fas fa-user-secret"></i></a>
            <a class="text-primary nav-link" href="{{ path("app_register") }}">Home <i class="ml-1 fas fa-home"></i></a>
        </nav>

        <div class="container-sm">
            <div class="form-group p-4" style="background-color: #e3f2fd8c;">
                {{ form_start(userForm) }}
                    {{ form_widget(userForm) }}
                    <button class="mt-2 mb-5 btn btn-sm btn-primary" type="submit">Registrarme</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}
