{% extends "base.html.twig" %}
{% block body %}
    <div class="container p-4">
        <h2 class="text-primary text-center mt-5">Bienvenid@</h2>

        <nav  class="navbar navbar-ligh my-5" style="background-color: #e3f2fd8c;">
            <a class="text-primary nav-link" href="{{ path("app_login") }}">Log in<i class="ml-2 fas fa-user-secret"></i></a>
            <a class="text-primary nav-link" href="/">Home <i class="ml-1 fas fa-home"></i></a>
        </nav>

        <div class="container-sm">
            <div class="form-group mt-2 py-5" style="background-color: #e3f2fd50;">
                    {{ form_start(userForm) }}

                <div class="alert-danger">
                    {{ form_errors(userForm) }}
                </div>

                <div class="form-group">
                    <div class="form-control my-2 py-5">
                        {{ form_row(userForm.email) }}
                    </div>
                    <div class="form-control my-2 py-5">
                        {{ form_row(userForm.password) }}
                    </div>
                    <div class="form-control my-2 py-5">
                        {{ form_row(userForm.DNI) }}
                    </div>
                    <div class="form-control my-2 py-5">
                        {{ form_row(userForm.name) }}
                    </div>
                    <div class="form-control my-2 py-5">
                        {{ form_row(userForm.lastname) }}
                    </div>
                    <div class="form-control my-2 py-5">
                        {{ form_row(userForm.address) }}
                    </div>
                    <div class="form-control my-2 py-5">
                        {{ form_row(userForm.phone_number) }}
                    </div>
                </div>

                    {{form_widget(userForm)}}
                    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Enviar</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}
