{% extends "base.html.twig" %}
{% block body %}
<div class="container mt-4 p-4">
    <div class="container-sm">
        <h2>Bienvenido</h2>
         <nav  class="navbar navbar-dark">
             <a class="text-dark nav-link" href="{{ path("app_login") }}"><h4>Log in</h4></a>
             <a class="text-dark nav-link" href="{{ path("app_register") }}"><h4>Home</h4></a>
         </nav>
         <div class="form">
            {{ form_start(userForm) }}
                {{ form_widget(userForm) }}
                <button class="btn btn-lg btn-primary" type="submit">Registrarme</button>
            {{ form_end(userForm) }}
            </div>
     </div>
</div>
{% endblock %}
