{% extends "base.html.twig" %}

{% block body %} 

    <div class="container" style="min-height: 45vh;">
        
        <nav class="navbar navbar-ligh my-5" style="background-color: #cbe8fd8e;">
            <h5 class="text-primary nav-link">Lista de vehículos</h5> 
            <a class="text-primary nav-link" href="{{ path("newVehiculo") }}"><i class="fas fa-plus-circle mr-2"></i>Añadir nuevo</a>
        </nav>
        
            {% for mensaje in app.flashes('exito') %}
            <div class="alert alert-success" role="alert">
                <p>{{ mensaje }}</p>
            </div>
            {% endfor %}
    
        <div class="row row-cols-md-4 mt-3">
        {% for vehiculo in vehiculos %}
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Matricula: <h5>{{vehiculo.matricula}}</h5></p>
                        <p class="card-text">Marca: <h5>{{vehiculo.marca}}</h5></p>
                        <p class="card-text">Modelo: <h5>{{vehiculo.modelo}}</h5></p>
                        <p class="card-text">Año: <h5>{{vehiculo.year}}</h5></p>
                        <a href="{{ path("showVehiculo", {id: vehiculo.id}) }}" class="btn btn-primary">Más Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}

